* {
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: arial, 'Times New Roman', Georgia;
}

h1 {
    color: lightpink;
    width: fit-content;
    margin-left: 30px;
}
/* Images */
.RecipePhoto {
    border-style: solid;
    border-color: peachpuff;
    display: inline;
}

.EndPhotos {
    display: inline-block
}
/* Links */
a:link {
    color: darkseagreen;
}

a:visited {
    color: darkolivegreen;
}
/* Subheaders */
h3 {
    color: darksalmon;
    width: fit-content;
    padding:5px;
}

/* Lists */
ol {
    display: inline-block;
    padding: 5px;
    border: 3px solid
}