* {
    box-sizing: border-box;
    background-color: rgb(231, 237, 214);
    font-family: arial, 'Times New Roman', Georgia;
}

h1 {
    color: lightpink;
    width: fit-content;
    margin-left: 30px;
}

/* Images */
.RecipePhoto {
    border-style: solid;
    border-color: rgb(255, 212, 212);
    display: inline;
}

.EndPhotos {
    display: block
}

/* Links */
a:link {
    color: darkseagreen;
}

a:visited {
    color: darkolivegreen;
}

/* Come back after flexbox to line stuff up */
/* Subheaders */
h3 {
    color: darksalmon;
    width: fit-content;
    padding:5px;
}

/* Adding border to list here but for some reason the numbers aren't included in content for box...
    Problem for another day... */

/* Lists */
ol {
    display: inline-block;
    padding: 20px;
    border: 3px solid #FFB6C1;
    background-image: linear-gradient(lightpink, darkseagreen, lightpink);
}

ul {
    display: inline-block;
    padding: 20px;
    border: 3px solid #FFB6C1;
    background-image: linear-gradient(lightpink, darkseagreen, lightpink);
    margin: 5px;
}